.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.vscode/
*.ipynb_checkpoints/
.DS_Store
*.pth
*.pt
models/
bad/
deprecated/
slurm_logs/
results/
results_small/continuous/
slurm_logs/
*.sbatch
.gitignore
*.txt
create_hard_prompts_table.py
parse_terminal_output.py